* {
/*	border:1px dotted #333;*/
}

body {
	font-size: 13px;
}

.taskGraph {
	border:1px solid #555;
	padding:1em;
}

.row > div {
	display: inline-block;
	height: 50px;
}

.taskLine {
	padding:.3em .5em;
	border: 1px solid #555;

	.timeline {
		width:80%;
		display:inline-block;
		background-color: #999;
		height:inherit;
	}

	.controls {
		width:20%;
		display:inline-block;
	}
}


.taskLineControls {
	width:200px;
}

.taskLineControls > div {
	float:left;
}

.toggle:hover {
	cursor:pointer;
}

.label {
}

.label:hover {
	cursor:pointer;
}

.task {
	background-color: #CCC;
	min-height: 1em;
	padding:.3em .5em;
	width:100px;
	border-right:1px solid #666;
	border-bottom:1px solid #666;
	display:inline-block;
}

.task.finished {
	background-color: red;
}

input {
}



/*******************************/

#timeline {
	border:1px solid #000;
	width:80%;
	height:100px;
}

.tic {
	border-right: 1px solid #aaa;
	display: inline-block;
	height: 20px;
}