@import url(http://fonts.googleapis.com/css?family=Monda);

body {
	font-size: 13px;
	font-family: 'Monda', sans-serif;
}

div.recorder-controls {
	width:400px;
	padding: 1em;

	.ui-slider {
		margin: .3em 0 1em;
	}
}
#control-toggle {
	padding: 5px 1em;
	cursor: pointer;
	float:left;
}



.taskGraph {
	padding:1em;
	position: relative;
}


.taskLine {
	position: relative;
	padding:.3em .5em;
	border: 1px solid #555;
	margin-bottom: .3em;

	.timeline {
		width:80%;
		display:inline-block;
		background-color: #999;
		height:inherit;
	}

	.controls {
		width:20%;
		display:inline-block;
	}
}


.taskLineControls {
	width:200px;
}

.taskLineControls > div {
	float:left;
}

.toggle {
	float:left;
	padding:.3em;
	margin-right:.3em;
	cursor:pointer;
}

.label {
	font-size:1.5em;
}

.label:hover {
	cursor:pointer;
	color:#09f;
}

.task {
	background-color: #CCC;
	position:absolute;
	top:0;
	height:100%;
}

.task.finished {
	background-color: red;
}

.taskModifier {
	background-color:#fff;
	z-index:100;
	border:1px solid #666;
	position:absolute;
	width: 200px;
	border-radius:.5em;
	box-shadow: 5px 5px 5px #666;
	padding:.5em;
}

.clear {
	clear:both;
}

input:not([submit]){
	padding:.2em .5em;
	font-family:inherit;
}

.ticks {
	position: relative;
}
.tick {
	border-left:1px solid #000;
	position: absolute;
}