<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui-1.9.2.custom.min.css" />
	<script type="text/javascript" src="lib/jquery.min.js"></script>
	<script type="text/javascript" src="lib/jquery-ui-1.9.2.custom.min.js"></script>
	<script type="text/javascript" src="lib/underscore.js"></script>
	<script type="text/javascript" src="lib/backbone.js"></script>
	<script type="text/javascript" src="lib/require.js" data-main="js/timecard"></script>
	
	<!-- templates -->
	<script type="text/template" id="task_template"></script>

	<script type="text/template" id="taskModifier_template">
		<div class="taskModifier">
			<form id="timeAdjuster">
				<label>start</label>
				<input id="start" class="ui-corner-all" />
				<label>end</label>
				<input id="end" class="ui-corner-all" />
				<input type="submit" value="ok" />
			</form>
			<a href="#" class="delete">delete task</a>
		</div>
	</script>

	<script type="text/template" id="summary_form_template">
		<form id="summary_form">
			<label>from</label>
			<input type="text" id="start" value="" class="ui-corner-all" />
			<label>to</label>
			<input type="text" id="end" value="" class="ui-corner-all" />
		<input type="submit" />
	</form>
	</script>

	<script type="text/template" id="summary_lineitem_template">
		<div class="lineitem">
			<label><%= label %></label>
			<span class="duration"><%= duration %></span>
			<span class="percentage"></span>
		</div>
	</script>

</head>
<body>
	
	<div class="recorder-controls">
		<div class="content">
			<label>refresh</label>
			<div id="refresh-interval"></div>
			
			<label>auto-save interval</label>
			<div id="save-interval"></div>
		</div>
		<div id="control-toggle" class="ui-state-default ui-corner-all">
			<span class="ui-icon ui-icon-carat-1-n"></span>
		</div>
	</div>
	<div class="clear"></div>

	<div id="mainControls">
		<button id="record">record</button>
		<button id="load">load</button>
	</div>

	<div id="graph"></div>
	<div class="ticks"></div>
	<div id="summary"></div>
</body>
</html>