<html>
<head>

	<link rel="stylesheet" type="text/css" href="css/main.css" />

	<script type="text/javascript" src="lib/jquery.min.js"></script>
	<script type="text/javascript" src="lib/underscore.js"></script>
	<script type="text/javascript" src="lib/backbone.js"></script>
	<script type="text/javascript" src="js/rest-test.js"></script>

	<script type="text/template" id="recorder">
		<button class="btn btn-success new-taskGroup">New Task Group</button>
		<div class="recorder"></div>
	</script>

	<script type="text/template" id="summary_view">
		<form class="form-inline">
			<fieldset>
				<legend>Summary</legend>
				<input type="text" class="start" name="start" value="<%= start %>" placeholder="<%= start %>" />
				<input type="text" class="end" name="end" value="<%= end %>" placeholder="<%= end %>" />
				<button type="submit" class="btn">load</button>
			</fieldset>
		</form>
	</script>
	
	<script type="text/template" id="task_view_template">
		<div class="task"></div>
	</script>

	<script type="text/template" id="task_modifier_view_template">
		<form class="taskModifier form-horizontal">
			<div>
				<label>start</label>
				<input class="start" type="text" />
				</div>
			</div>
			<div>
				<label>end</label>
				<input class="end" type="text" />
			</div>
			<div>
				<button class="btn btn-success">ok</button>
				<a href="#" class="delete btn btn-danger">delete</a>
			</div>
		</form>
	</script>
	
	<script type="text/template" id="task-group-view">
		<div class="taskGroup">
			<div class="tasks"></div>
			<div class="taskGroupControls">
				<button class="btn toggle">
					<span class="icon-play"></span>
				</button>
				<h4 class="taskGroupLabel"></h4>
			</div>
		</div>
	</script>


	<!-- bootstrap -->
	<link type="text/css" rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>

	<a class="btn btn-primary" id="startRecorder" href="#/record">record</a>
	<a class="btn btn-primary" id="loadSummary" href="#/summary">summary</a>
	<hr />

	<div class="page"></div>
</body>
</html>