.recorder {
  position: relative; }

.taskGroup {
  margin-bottom: 1em;
  border-top: 1px solid #eee; }
  .taskGroup .tasks {
    width: 80%;
    display: inline-block; }
  .taskGroup .taskGroupControls {
    width: 19%;
    display: inline-block; }
    .taskGroup .taskGroupControls h4 {
      display: inline; }

.task {
  height: 1em;
  border: 1px solid pink;
  position: absolute; }

.taskModifier {
  position: absolute;
  border: 1px;
  background-color: rgba(100, 100, 100, 0.5);
  box-shadow: 5px 2px 5px #dadada;
  z-index: 100;
  padding: .5em; }
